<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <main class="container">
        <div class="contact-form"> <h2>Thank You!</h2>
            <p>Your message has been successfully added to the guestbook.</p>
            
            <br>
            
            <a href="/" >
                <button type="button" class="submit-btn">Back to Form</button>
            </a>
        </div>

        <footer>
            <p>View my code on <a href="https://github.com/tonymythical/contact-form">GitHub</a></p>
        </footer>
    </main>
</body>
</html>